body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: black;
}

#container {
	position: relative;
	width: 100vh;
	height: 100vh;
	overflow: hidden;
}

.video {
  height: 100%;
	position: absolute;
	/* opacity: 0.25; */
	top: 0;
	left: 0;
}

#info {
  position: absolute;
	display: none;
  top: 0;
  background: #fff;
}
